<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" rel="stylesheet">

    <title>Document</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">


        <!--        <a class="navbar-brand" href="#" th:href="@{/}">-->
        <!--            <img alt="" class="d-inline-block align-top" height="70" src="../static/images/logo.png"-->
        <!--                 th:src="@{/images/logo.png}" width="auto"/>-->
        </a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/}">HOME</a>
                </li>

                                <li class="nav-item active">
                                    <a class="nav-link" href="#" th:href="@{/shop}">SHOP</a>
                                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/cart}">GIỎ HÀNG</a>
                </li>

                <li class="nav-item active">
                    <span class="nav-link" th:text="${cartCount}">0</span>
                </li>

<!--                <li class="nav-item active">-->
<!--                    <a class="nav-link" href="#" sec:authorize="isAnonymous()" th:href="@{/loginForm}">ĐĂNG NHẬP</a>-->
<!--                </li>-->

                <li class="nav-item active">
                    <a class="nav-link" href="#" sec:authorize="isAuthenticated()" th:href="@{/logout}">ĐĂNG XUẤT</a>
                </li>


            </ul>

        </div>
    </div>
</nav>

<main>
    <div class="container">

        <!--Section: Block Content-->
        <section class="mt-5 mb-4">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-8">

                    <!-- Card -->
                    <div class="card wish-list mb-4">
                        <div class="card-body">

                            <h5 class="mb-4">Giỏ hàng (<span th:text="${cartCount}">0</span> sản phẩm)</h5>

                            <div class="row mb-4" th:each="item, iStat : ${cart}">
                                <div class="col-md-5 col-lg-3 col-xl-3">
                                    <div class="mb-3 mb-md-0">
                                        <img alt="Sample"
                                             class="img-fluid w-100"
                                             src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg"
                                             th:src="@{${'/productImages/' + item.imageName}}">

                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-9 col-xl-9">
                                    <div>
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h5 th:text="${item.name}">Tên sản phẩm</h5>
                                                <p class="mb-3 text-lowercase  small">Trọng lượng: <span
                                                        th:text="${item.weight}"></span> gam</p>
                                                <!--                                                <p class="mb-2 text-uppercase small">Category: <span th:text="${item.category.name}"></span></p>-->

                                            </div>

                                        </div>
                                        <div class="mt-5 d-flex justify-content-between align-items-center">
                                            <div>
                                                <a class="card-link-secondary small text-uppercase mr-3" href="#!"
                                                   th:href="@{/cart/removeItem/{index}(index=${iStat.index})}"
                                                   type="button"><i
                                                        class="fas fa-trash-alt mr-1"></i>Xóa</a>

                                            </div>
                                            <p class="mb-0"><span><strong> <span
                                                    th:text="${item.getPriceFormatted}"></span></strong></span>đ</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--                            <hr class="mb-4">-->

<!--                            <p class="text-primary mb-0"><i class="fas fa-info-circle mr-1"></i> Do not delay the-->
<!--                                purchase, adding-->
<!--                                items to your cart does not mean booking them.</p>-->

                        </div>
                    </div>


                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4">

                    <!-- Card -->
                    <div class="card mb-4">
                        <div class="card-body">

                            <h5 class="mb-3">TỔNG TIỀN </h5>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Số tiền:
                                    <span><span th:text="${total}"></span>đ</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Vận chuyển:
                                    <span>Miễn phí</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Tổng tiền (VAT)</strong>
<!--                                        <strong>-->
<!--                                            <p class="mb-0">(VAT)</p>-->
<!--                                        </strong>-->
                                    </div>
                                    <span><strong> <span th:text="${total}"></span></strong>đ</span>
                                </li>
                            </ul>

                            <a class="btn btn-primary btn-block waves-effect waves-light" h
                               th:href="@{/checkout}">ĐẶT HÀNG</a>

                        </div>
                    </div>
                    <!-- Card -->

<!--                    &lt;!&ndash; Card &ndash;&gt;-->
<!--                    <div class="card mb-4">-->
<!--                        <div class="card-body">-->

<!--                            <a aria-controls="collapseExample" aria-expanded="false"-->
<!--                               class="dark-grey-text d-flex justify-content-between"-->
<!--                               data-toggle="collapse" href="#collapseExample">-->
<!--                                Add a discount code (optional)-->
<!--                                <span><i class="fas fa-chevron-down pt-1"></i></span>-->
<!--                            </a>-->

<!--                            <div class="collapse" id="collapseExample">-->
<!--                                <div class="mt-3">-->
<!--                                    <div class="md-form md-outline mb-0">-->
<!--                                        <input class="form-control font-weight-light" id="discount-code"-->
<!--                                               placeholder="Enter discount code"-->
<!--                                               type="text">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Card &ndash;&gt;-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Block Content-->

    </div>
</main>
<!--Main layout-->


<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>